.product{
    border: 1px solid rgba(128, 128, 128, 0.438);
    border-radius: 10px;
    position: relative;
}
.product:hover{
    background-color: rgba(128, 128, 128, 0.228);
}
.product img{
    width: 95%;
    margin: 10px;
    border-radius: 10px;
}
.product-info{
    padding: 0 2rem 3rem 2rem;
}
.product-info h3,p,h4{
    margin-top: 0;
    margin-bottom: .5rem;
}
.btn-cart{
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    border: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.438);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 224, 179, 1);
    font-size: 1rem;
    font-weight: bold;
    
}